.headerContent {
  display: flex;
  align-items: center;
  gap: 12px;
}

.headerContent a {
  position: relative;
  min-height: auto;
  height: 48px;
  border: none;
  overflow: hidden;
  color: #fffdfb;
  background-color: #34303d;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms
    cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1), color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
}

.headerContent a::after {
  position: absolute;
  top: -7.5%;
  left: -2.5%;
  display: inline-block;
  z-index: -1;
  width: 105%;
  height: 115%;
  content: " ";
  transform-origin: left center;
  transform: scale(0, 1) translate(0px, 0px) skew(0deg);
  transition: 0.3s ease-out;
  background-color: #00d1d2;
}

.headerContent a:hover {
  color: #34303d;
  background-color: #00d1d2;
}

.headerContent a:hover::after {
  transform: scale(1.5, 1) translate(-15%, 0px) skew(-25deg);
}